.col-md-8.offset-md-2.col-12.order_container
  =flash_message
  %h2 
    = order.new_record? ? "Create New Order" : "Edit Existing Order"
  = bootstrap_form_for order do |f|

    = f.text_field :vendor, label_class: "font-weight-bold"
    = f.text_field :contact, label_class: "font-weight-bold"
    = f.text_field :show, label_class: "font-weight-bold"
    = f.text_field :order_amount, label: "Order Amount (Without Shipping)",label_class: "font-weight-bold", placeholder: "0.00"
    = f.text_area :description, label_class: "font-weight-bold", class: "input-lg"
    = f.text_field :term, label_class: "font-weight-bold", placeholder: "Only input the number, ex: 30, NOT N30"
    = f.text_field :shipping_percentage, label: "Shipping percentage (%)", label_class: "font-weight-bold", placeholder: "For 3%, input 3"
    = f.text_field :ship_on, value: format_date(@order.ship_on), label_class: "font-weight-bold", class: "order_datepicker", data: {provide: 'datepicker'}
    = f.text_field :received_on, value: format_date(@order.received_on), label_class: "font-weight-bold", class: "order_datepicker", data: {provide: 'datepicker'}
    = f.text_field :paid_on, value: format_date(@order.paid_on), label_class: "font-weight-bold", class: "order_datepicker", data: {provide: 'datepicker'}
    = f.text_field :invoice_number, label_class: "font-weight-bold"
    = f.submit 