<!DOCTYPE html>
<html>
  <head>
    <title>Craig's Payables and Orders</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/orders">Craig's Payables and Orders</a>
      </div>
      <div class="navlinks">
        <% if logged_in? %>
          <span class = "mx-3">
            <%= link_to "Orders", orders_path %>
          </span>
          <span class = "mx-3">
            <%= link_to "Payables", payables_path %>
          </span>
          <span class = "mx-3">
            <%= link_to "Edit Account", edit_user_path(@current_user.id) %>
          </span>
          <span class = "mx-3">
            <%= link_to "Sign Up", signup_path %>
          </span>
          <span class = "mx-3">
            <%= link_to 'Logout', logout_path %>
          </span>
          <% else %>
              <span class = "mx-3">
                <%= link_to "Log In", login_path %>        
              </span>
          <% end %>
        </span>
      </div>
  </nav>

    <%= yield %>
  </body>
    <%= javascript_include_tag 'application' %>
</html>
